@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-inter: var(--font-inter);
  --font-bricolage: var(--font-bricolage);
  --font-instrument-sans: var(--font-instrument-sans);

  --color-primary-blue: #0062e4;

  --animate-ripple: ripple var(--duration, 2s) ease
    calc(var(--i, 0) * 0.2s) infinite;

  @keyframes ripple {
    0%,
    100% {
      transform: translate(-50%, -50%) scale(1);
    }

    50% {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer base {
  body {
    @apply bg-white text-black antialiased;
    font-family: var(--font-inter), sans-serif;
  }
}